In [1]:
import pandas as pd

In [2]:
base = pd.read_csv('C:\\Users\\Thiago Santos\\Documents\\coisasMinhas\\Estudos\\Ciência de Dados\\HashTag Programação\\MOCK_DATA.csv')

In [3]:
display(base)

       id                           produto  price        date    fabricante
0       1       Wine - Piper Heidsieck Brut     66  04.06.2024      Innotype
1       2          Wine - Red, Mouton Cadet     14  23.11.2024       Gigabox
2       3  Wine - White, Riesling, Henry Of     66  26.03.2024      Realcube
3       4                   Cup - 6oz, Foam     45  26.03.2025    Linkbridge
4       5                        Breadfruit     76  12.12.2024     Youbridge
..    ...                               ...    ...         ...           ...
995   996            Red Cod Fillets - 225g     49  03.05.2024    Thoughtmix
996   997             Nantuket Peach Orange    117  02.03.2025        Rhyzio
997   998                    Tomato - Green     59  02.01.2024        Dynava
998   999              Sproutsmustard Cress    114  27.03.2024      Riffpath
999  1000                    Banana - Green     19  02.03.2025  Twitterworks

[1000 rows x 5 columns]

In [9]:
base.loc[(base.price < 60) | (base.price > 100), ["id", "produto", "price"]]

       id                         produto  price
1       2        Wine - Red, Mouton Cadet     14
3       4                 Cup - 6oz, Foam     45
5       6  Chips Potato All Dressed - 43g    144
6       7            Rice - 7 Grain Blend     11
7       8        Coffee Swiss Choc Almond     43
..    ...                             ...    ...
995   996          Red Cod Fillets - 225g     49
996   997           Nantuket Peach Orange    117
997   998                  Tomato - Green     59
998   999            Sproutsmustard Cress    114
999  1000                  Banana - Green     19

[783 rows x 3 columns]

In [ ]:
import matplotlib.pyplot